<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="sports">
      <ion-icon name="tennisball-outline"></ion-icon>
      <ion-label>Deportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
