.login-header {
    background: var(--theme-color);
}

.login-header {
    position: relative;
    background: var(--theme-color);
    border-radius: 0em;
}

.logo-img {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.center {
    margin-top: 10%;
}

.login-button {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.reestablish-button {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.register-link {
    text-decoration: underline;
}

.no-count {
    margin-top: 20%;
    text-align: center;
}