<ion-header>
  <div class="login-header ion-padding">
    <img class="logo-img" src="assets/images/lacreu.png">
  </div>
</ion-header>

<ion-content>
  <div class="center">
    <ion-item>
      <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
      <ion-input [(ngModel)]="email" placeholder="Correo electrónico" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
      <ion-input [(ngModel)]="user" placeholder="Usuario" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" color="primary" slot="start"></ion-icon>
      <ion-input [(ngModel)]="password" placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" color="primary" slot="start"></ion-icon>
      <ion-input [(ngModel)]="confirmPassword" placeholder="Repetir contraseña" type="password"></ion-input>
    </ion-item>

    <ion-button color="primary" class="login-button buttons-cont" shape="round" fill="solid" 
      size="default" expand="block" (click)="register()">Registrar</ion-button>
    <ion-button color="danger" class="login-button buttons-cont" shape="round" fill="solid" 
      size="default" expand="block" (click)="cancel()">Cancelar</ion-button>

  </div>
</ion-content>
