<ion-header>
  <ion-toolbar>
    <ion-title>Deportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="horizontal-cards">
    <ion-card color="secondary" (click)="bookSport('padel')">
      <ion-card-header>
        <ion-card-title>Pádel</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card color="secondary" (click)="bookSport('squash')">
      <ion-card-header>
        <ion-card-title>Squash</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
